
/*$primary-color: #0C547D;
$secondary-color: #FFF;
$tertiary-color: #F15E57;*/

.top {
	background-color: #F15E57;
	color: #ffffff; 
	font-family: 'Raleway',sans-serif; 
	font-size: 62px; 
	font-weight: 800; 
	line-height: 72px; 
	margin: 0 0 24px; 
	text-align: center; 
	text-transform: uppercase;
}

.project {
	background-color: #66b3ff;
	border-color: #66b3ff;
	font-family:georgia,serif;
 	color:#381704;
 	font-size:18px;
 	font-weight:normal;
 	line-height:150%;
}

.bottom {
	background-color: #F15E57;
}
